.container {
  width: 100%;
  height: 100svh;
  display: grid;
  place-items: center;
  position: relative;

  article {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  footer {
    position: absolute;
    bottom: 0;
  }
}
