@use "lib/colors";
@use "lib/fonts";
@use "lib/breakpoints";

:root {
  color-scheme: dark;
}

body {
  color: colors.$fg;
  background: colors.$bg;
  font-family: fonts.$sans;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: fonts.$display;
  font-size: 6rem;
  font-weight: normal;
  color: colors.$goldLight;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: fonts.$sans;
  color: colors.$goldLight;
}

h3 {
  font-size: 2.25rem;
  font-weight: normal;
  font-family: fonts.$display;
  color: colors.$goldLight;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: colors.$goldLight;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

h6 {
  font-size: 1.25rem;
  font-weight: normal;
  color: colors.$gold;
}

a {
  color: colors.$link;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  margin: 1.5rem 0;
}

.yinyang {
  --yinyang-dark: black;
  --yinyang-light: white;

  .dark {
    fill: var(--yinyang-dark);
  }

  .light {
    fill: var(--yinyang-light);
  }
}

@media (max-width: breakpoints.$md) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: breakpoints.$sm) {
  body {
    font-size: 1rem;
  }

  // h1 {
  //   font-size: 4rem;
  // }

  h3 {
    font-size: 2rem;
  }

  h5,
  h6 {
    font-size: 1.25rem;
  }
}
