@use "lib/colors";
@use "lib/breakpoints";
@use "lib/keyframes";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: colors.$card;
    border-radius: 16px;
    width: clamp(750px, 83%, 1200px);
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.1);
    padding: 100px 0;

    article {
      width: clamp(600px, 60%, 800px);
      display: flex;
      flex-direction: column;
      gap: 128px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
}

.aboutContent {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 88px;
  place-items: center;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.community {
  gap: 12px !important;
}

@media (max-width: breakpoints.$xl) {
  .container .content {
    background: colors.$bg;
    box-shadow: none;
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: breakpoints.$md) {
  .container {
    .content {
      width: 100%;

      article {
        width: 85%;
      }
    }
  }
}
